.invoice-details-history {
    background-color: #ccc;
    padding: 30px 20px;
}

.invoice-details-history__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

.invoice-details-history h3 {
    margin: 10px 0px;
}