/* || GENERAL STYLES START */

#root {
  max-width: 1440px;
  margin: auto;
}

body {
  height: 100%;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  text-align: left;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.7em;
}

/* || GENERAL STYLES END */

/* || UTILITIES START */

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

/* || UTILITIES END */

/* || SITEWIDE START */

.primary-button {
  background-color: #1E95F3;
  padding: 10px 30px;
  color: white;
  border: none !important;
}

/* || SITEWIDE END */